<div class="about">
  <h1>Acerca de</h1>
  <p>Desafio Numero 2 - Ruby On Rails - Inforcap - <strong>Julio Carvajal</strong></p>
</div>

<section id="thumbnails" class="hide">
  <article>
    <%= link_to(image_tag("desafio2.png", alt: ""), image_path("desafio2.png"), class: "thumbnail") %>
    <h2>Diam tempus accumsan</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>
  <article>
  </section>
